li {
  text-align: center;
  list-style: none;
  width: 127px;
  height: 222px;
  color: white;
}

.img-container {
  overflow: hidden;
  height: 187px;
  margin-bottom: 3px;
}

img {
  width: 100%;
}

img:hover {
  transform: scale(1.05);
  transition-duration: 400ms;
  cursor: pointer;
}

p {
  margin: 0px;
  font-size: .7em;
}